<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notediary</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <center>
        <h1 style="font-style: italic;">Notediary</h1>
        <h3 style="font-style: italic; margin-top: 10px;">New Note</h3>

        <div class="container">
            <form id="noteForm">
                <label for="inputAuthor">Author</label>
                <input type="text" id="inputAuthor" required>

                <label for="inputTitle">Title of Note</label>
                <input type="text" id="inputTitle" required>

                <label for="inputNotes">Note</label>
                <textarea id="inputNotes" required></textarea>

                <button type="submit">Save Note</button>
                <button type="button" id="backButton">Back</button>
            </form>

            <!-- <div id="output" class="output"></div> -->
        </div>
    </center>
    

    <script src="script.js"></script>
</body>

</html>