<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notediary</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <center>
        <h1 style="font-style: italic;">Notediary</h1>

        <h3 style="font-style: italic; margin-top: 10px;">Past Notes</h3>
        <div class="container">
            <table id="notesTable">
                <thead>
                    <tr>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Note</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be added here dynamically -->
                </tbody>
            </table>

            <button type="button" id="backButton">Back</button>
        </div>
    </center>
    

    <script src="script.js"></script>
</body>

</html>